@font-face {
  font-family: "TT Firs Neue";
  src: url("../../fonts/TT Firs Neue Bold Outline Trial.otf");
}

@font-face {
  font-family: "TT Firs Neue Trl";
  src: url("../../fonts/TT Firs Neue Trial Bold.ttf");
}

.main {
  width: 50%;
}

.iocod {

  font-family: "TT Firs Neue Trl";
}

.nput {
  font-family: "TT Firs Neue";
}

.input {
  position: relative;
  line-height: 121%;
}

.frameChild {
  position: relative;
  width: 108.03px;
  height: 109px;
}

.utput {
  font-family: "TT Firs Neue";
}

.frameItem {
  position: relative;
  width: 109px;
  height: 108.03px;
}

.inputParent {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.c2,
.pp {
  height: 116px;
}

.pp {
  position: absolute;
  top: 0;
  left: calc(50% - 640px);
  /* width: 1280px; */
  width: 100vw;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move {
  0% {
    left: calc(50% - 640px);
  }
  25% {
    left: calc(50% - 940px);
  }
  50% {
    left: calc(50% - 640px);
  }
  75% {
    left: calc(50% - 340px);
  }
  100% {
    left: calc(50% - 640px);
  }
}

.c2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  text-align: left;
  font-size: 96px;
  color: #b4b4b4;
  font-family: "TT Firs Neue Trl";
}
