.main_div {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1301px;
  overflow: hidden;
  text-align: left;
  font-size: 64px;
  color: #000;
  font-family: "DM Sans";
}
.people,
.splash1 {
  position: absolute;
  top: 56px;
  left: 60px;
  width: 1160px;
  height: 827px;
  object-fit: cover;
}
.people {
  top: 470px;
  left: 138px;
  width: 452px;
  height: 649px;
}
.chooseUs {
  text-decoration: underline;
  font-weight: 500;
  background: linear-gradient(93.83deg, #cddd3b, #46b5e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inSearchOfContainer {
  position: absolute;
  top: 925px;
  left: 647px;
  font-size: 56px;
  display: inline-block;
  width: 625px;
  color: #04000e;
}
.highlyTalentedAnd {
  position: absolute;
  top: 85px;
  left: 77px;
  line-height: 72px;
  display: inline-block;
  width: 1126px;
}
.b,
.happyClients {
  position: relative;
}
.happyClients {
  font-size: 18px;
  text-align: center;
  margin-top: -12px;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content_line {
  align-self: stretch;
  position: relative;
  border-top: 1px solid #000;
  box-sizing: border-box;
  height: 1px;
}
.content,
.s {
  position: absolute;
}
.content {
  top: 435px;
  left: 640px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.s {
  top: 229.39px;
  left: 117.45px;
  transform: rotate(-174.91deg);
}
.c,
.e,
.s {
  font-weight: 300;
  transform-origin: 0 0;
}
.c {
  position: absolute;
  top: 219.27px;
  left: 79.77px;
  transform: rotate(-160.72deg);
}
.e {
  top: 207.97px;
  left: 55.6px;
  transform: rotate(-146.84deg);
}
.d,
.e,
.u {
  position: absolute;
}
.d {
  top: 193.35px;
  left: 35.22px;
  font-weight: 300;
  transform: rotate(-133.57deg);
  transform-origin: 0 0;
}
.u {
  top: 171.37px;
  left: 18.48px;
  transform: rotate(-119.38deg);
}
.e1,
.l,
.u {
  font-weight: 300;
  transform-origin: 0 0;
}
.l {
  position: absolute;
  top: 146.64px;
  left: 6.89px;
  transform: rotate(-106.42deg);
}
.e1 {
  top: 123.79px;
  left: 1.15px;
  transform: rotate(-94.39deg);
}
.c1,
.div,
.e1 {
  position: absolute;
}
.div {
  top: 107.12px;
  left: 5.27px;
  font-weight: 300;
  transform: rotate(-84.52deg);
  transform-origin: 0 0;
}
.c1 {
  top: 90.85px;
  left: 7.12px;
  transform: rotate(-73.11deg);
}
.a,
.c1,
.l1 {
  font-weight: 300;
  transform-origin: 0 0;
}
.a {
  position: absolute;
  top: 62.15px;
  left: 17.43px;
  transform: rotate(-58.61deg);
}
.l1 {
  top: 39.96px;
  left: 32.43px;
  transform: rotate(-45.96deg);
}
.div1,
.l1,
.l2 {
  position: absolute;
}
.l2 {
  top: 23.8px;
  left: 49.4px;
  font-weight: 300;
  transform: rotate(-34.24deg);
  transform-origin: 0 0;
}
.div1 {
  top: 11.92px;
  left: 68.64px;
  transform: rotate(-24.68deg);
}
.div1,
.div2,
.div3 {
  font-weight: 300;
  transform-origin: 0 0;
}
.div2 {
  position: absolute;
  top: 6.1px;
  left: 82.5px;
  transform: rotate(-16.66deg);
}
.div3 {
  top: 1.75px;
  left: 99.21px;
  transform: rotate(-8.02deg);
}
.div3,
.div4,
.s1 {
  position: absolute;
}
.div4 {
  top: 0;
  left: 116.15px;
  font-weight: 300;
}
.s1 {
  top: 0.39px;
  left: 132.03px;
  transform: rotate(10.18deg);
}
.c2,
.h,
.h1,
.s1 {
  font-weight: 300;
  transform-origin: 0 0;
}
.c2 {
  position: absolute;
  top: 5.42px;
  left: 156.63px;
  transform: rotate(24.37deg);
}
.h,
.h1 {
  font-family: "TT Firs Neue Trl";
}
.h {
  position: absolute;
  top: 17.01px;
  left: 180.39px;
  transform: rotate(36.58deg);
}
.h1 {
  top: 193.41px;
  left: 88.87px;
  transform: rotate(13.77deg);
}
.d1,
.e2,
.h1 {
  position: absolute;
}
.e2 {
  top: 33px;
  left: 198.94px;
  font-weight: 300;
  transform: rotate(43.51deg);
  transform-origin: 0 0;
}
.d1 {
  top: 52.16px;
  left: 215.68px;
  transform: rotate(56.77deg);
}
.d1,
.l3,
.u1 {
  font-weight: 300;
  transform-origin: 0 0;
}
.u1 {
  position: absolute;
  top: 76.35px;
  left: 226.99px;
  transform: rotate(70.96deg);
}
.l3 {
  top: 103.37px;
  left: 233.84px;
  transform: rotate(83.92deg);
}
.div5,
.e3,
.l3 {
  position: absolute;
}
.e3 {
  top: 123.97px;
  left: 234.66px;
  font-weight: 300;
  transform: rotate(95.95deg);
  transform-origin: 0 0;
}
.div5 {
  top: 132.13px;
  left: 232.92px;
  transform: rotate(100.56deg);
}
.a1,
.c4,
.div5 {
  font-weight: 300;
  transform-origin: 0 0;
}
.c4 {
  position: absolute;
  top: 148.17px;
  left: 229.64px;
  transform: rotate(111.98deg);
}
.a1 {
  top: 175.84px;
  left: 216.83px;
  transform: rotate(126.48deg);
}
.a1,
.l4,
.l5 {
  position: absolute;
}
.l4 {
  top: 196.61px;
  left: 199.92px;
  font-weight: 300;
  transform: rotate(139.12deg);
  transform-origin: 0 0;
}
.l5 {
  top: 211.21px;
  left: 181.58px;
  transform: rotate(150.85deg);
}
.div6,
.div7,
.l5 {
  font-weight: 300;
  transform-origin: 0 0;
}
.div6 {
  position: absolute;
  top: 221.45px;
  left: 161.16px;
  transform: rotate(161.03deg);
}
.div7 {
  top: 226.47px;
  left: 144.64px;
  transform: rotate(169.66deg);
}
.div7,
.div8,
.group1 {
  position: absolute;
}
.div8 {
  top: 228.9px;
  left: 127.78px;
  font-weight: 300;
  transform: rotate(177.68deg);
  transform-origin: 0 0;
}
.group1 {
  top: 0;
  left: 0;
  width: 235.32px;
  height: 229.39px;
  animation: rotate 10s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
  25% {
    transform: rotate(90deg);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: rotate(180deg);
    animation-timing-function: linear;
  }
  75% {
    transform: rotate(270deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(360deg);
    animation-timing-function: linear;
  }
}

.phone1Icon {
  position: absolute;
  top: calc(50% - 29.92px);
  left: calc(50% - 29.77px);
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.groupParent {
  position: absolute;
  top: 427px;
  left: 1038px;
  width: 235.32px;
  height: 229.39px;
  font-size: 24px;
  font-family: "TT Firs Neue";
}
