.c4Child {
  position: absolute;
  top: -24px;
  left: 966px;
  border-radius: 16px;
  width: 431px;
  height: 468px;
  object-fit: cover;
  display: none;
}
.c4Item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 800px;
}
.bgGrid1Child,
.bgGrid1Inner,
.bgGrid1Item,
.rectangleDiv {
  position: absolute;
  height: 101.48%;
  width: 0.12%;
  top: -0.62%;
  right: 98.55%;
  bottom: -0.86%;
  left: 1.33%;
  background-color: #1b1e2d;
}
.bgGrid1Inner,
.bgGrid1Item,
.rectangleDiv {
  right: 92.41%;
  left: 7.47%;
}
.bgGrid1Inner,
.rectangleDiv {
  right: 86.39%;
  left: 13.49%;
}
.rectangleDiv {
  right: 80.24%;
  left: 19.64%;
}
.bgGrid1Child1,
.bgGrid1Child2,
.bgGrid1Child3,
.bgGrid1Child4,
.bgGrid1Child5,
.bgGrid1Child6,
.bgGrid1Child8 {
  position: absolute;
  height: 101.48%;
  width: 0.12%;
  top: -0.62%;
  right: 73.98%;
  bottom: -0.86%;
  left: 25.9%;
  background-color: #1b1e2d;
}
.bgGrid1Child2,
.bgGrid1Child3,
.bgGrid1Child4,
.bgGrid1Child5,
.bgGrid1Child6,
.bgGrid1Child8 {
  right: 67.95%;
  left: 31.93%;
}
.bgGrid1Child3,
.bgGrid1Child4,
.bgGrid1Child5,
.bgGrid1Child6,
.bgGrid1Child8 {
  right: 61.81%;
  left: 38.07%;
}
.bgGrid1Child4,
.bgGrid1Child5,
.bgGrid1Child6,
.bgGrid1Child8 {
  right: 55.78%;
  left: 44.1%;
}
.bgGrid1Child5,
.bgGrid1Child6,
.bgGrid1Child8 {
  right: 49.64%;
  left: 50.24%;
}
.bgGrid1Child6,
.bgGrid1Child8 {
  right: 43.49%;
  left: 56.39%;
}
.bgGrid1Child8 {
  right: 37.47%;
  left: 62.41%;
}
.bgGrid1Child10,
.bgGrid1Child11,
.bgGrid1Child12,
.bgGrid1Child13,
.bgGrid1Child14,
.bgGrid1Child9 {
  position: absolute;
  height: 101.48%;
  width: 0.12%;
  top: -0.62%;
  right: 28.31%;
  bottom: -0.86%;
  left: 71.57%;
  background-color: #1b1e2d;
}
.bgGrid1Child10,
.bgGrid1Child11,
.bgGrid1Child12,
.bgGrid1Child13,
.bgGrid1Child14 {
  right: 19.04%;
  left: 80.84%;
}
.bgGrid1Child11,
.bgGrid1Child12,
.bgGrid1Child13,
.bgGrid1Child14 {
  right: 9.88%;
  left: 90%;
}
.bgGrid1Child12,
.bgGrid1Child13,
.bgGrid1Child14 {
  right: 0.72%;
  left: 99.16%;
}
.bgGrid1Child13,
.bgGrid1Child14 {
  right: 95.54%;
  left: 4.34%;
}
.bgGrid1Child14 {
  right: 89.4%;
  left: 10.48%;
}
.bgGrid1Child15,
.bgGrid1Child16,
.bgGrid1Child17,
.bgGrid1Child18,
.bgGrid1Child19,
.bgGrid1Child20 {
  position: absolute;
  height: 101.48%;
  width: 0.12%;
  top: -0.62%;
  right: 83.25%;
  bottom: -0.86%;
  left: 16.63%;
  background-color: #1b1e2d;
}
.bgGrid1Child16,
.bgGrid1Child17,
.bgGrid1Child18,
.bgGrid1Child19,
.bgGrid1Child20 {
  right: 77.23%;
  left: 22.65%;
}
.bgGrid1Child17,
.bgGrid1Child18,
.bgGrid1Child19,
.bgGrid1Child20 {
  right: 70.96%;
  left: 28.92%;
}
.bgGrid1Child18,
.bgGrid1Child19,
.bgGrid1Child20 {
  right: 64.94%;
  left: 34.94%;
}
.bgGrid1Child19,
.bgGrid1Child20 {
  right: 58.8%;
  left: 41.08%;
}
.bgGrid1Child20 {
  right: 52.65%;
  left: 47.23%;
}
.bgGrid1Child21,
.bgGrid1Child22,
.bgGrid1Child23,
.bgGrid1Child24,
.bgGrid1Child25,
.bgGrid1Child26 {
  position: absolute;
  height: 101.48%;
  width: 0.12%;
  top: -0.62%;
  right: 46.63%;
  bottom: -0.86%;
  left: 53.25%;
  background-color: #1b1e2d;
}
.bgGrid1Child22,
.bgGrid1Child23,
.bgGrid1Child24,
.bgGrid1Child25,
.bgGrid1Child26 {
  right: 40.48%;
  left: 59.4%;
}
.bgGrid1Child23,
.bgGrid1Child24,
.bgGrid1Child25,
.bgGrid1Child26 {
  right: 31.33%;
  left: 68.55%;
}
.bgGrid1Child24,
.bgGrid1Child25,
.bgGrid1Child26 {
  right: 22.05%;
  left: 77.83%;
}
.bgGrid1Child25,
.bgGrid1Child26 {
  right: 12.89%;
  left: 86.99%;
}
.bgGrid1Child26 {
  right: 3.73%;
  left: 96.14%;
}
.bgGrid1Child27,
.bgGrid1Child28,
.bgGrid1Child29,
.bgGrid1Child30,
.bgGrid1Child31,
.bgGrid1Child32 {
  position: absolute;
  height: 101.48%;
  width: 0.12%;
  top: -0.62%;
  right: 34.34%;
  bottom: -0.86%;
  left: 65.54%;
  background-color: #1b1e2d;
}
.bgGrid1Child28,
.bgGrid1Child29,
.bgGrid1Child30,
.bgGrid1Child31,
.bgGrid1Child32 {
  right: 25.3%;
  left: 74.58%;
}
.bgGrid1Child29,
.bgGrid1Child30,
.bgGrid1Child31,
.bgGrid1Child32 {
  right: 16.02%;
  left: 83.86%;
}
.bgGrid1Child30,
.bgGrid1Child31,
.bgGrid1Child32 {
  right: 6.87%;
  left: 93.01%;
}
.bgGrid1Child31,
.bgGrid1Child32 {
  top: 0;
  right: 0;
  bottom: -1.48%;
  left: 99.88%;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.bgGrid1Child32 {
  top: 18.72%;
  bottom: -20.2%;
}
.bgGrid1Child33,
.bgGrid1Child34,
.bgGrid1Child35,
.bgGrid1Child36,
.bgGrid1Child37,
.bgGrid1Child38,
.bgGrid1Child40,
.bgGrid1Child41,
.bgGrid1Child42 {
  position: absolute;
  height: 101.48%;
  width: 0.12%;
  top: 25.12%;
  right: 0;
  bottom: -26.6%;
  left: 99.88%;
  background-color: #1b1e2d;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.bgGrid1Child34,
.bgGrid1Child35,
.bgGrid1Child36,
.bgGrid1Child37,
.bgGrid1Child38,
.bgGrid1Child40,
.bgGrid1Child41,
.bgGrid1Child42 {
  top: 31.28%;
  bottom: -32.76%;
}
.bgGrid1Child35,
.bgGrid1Child36,
.bgGrid1Child37,
.bgGrid1Child38,
.bgGrid1Child40,
.bgGrid1Child41,
.bgGrid1Child42 {
  top: 37.56%;
  bottom: -39.04%;
}
.bgGrid1Child36,
.bgGrid1Child37,
.bgGrid1Child38,
.bgGrid1Child40,
.bgGrid1Child41,
.bgGrid1Child42 {
  top: 43.72%;
  bottom: -45.2%;
}
.bgGrid1Child37,
.bgGrid1Child38,
.bgGrid1Child40,
.bgGrid1Child41,
.bgGrid1Child42 {
  top: 50%;
  bottom: -51.48%;
}
.bgGrid1Child38,
.bgGrid1Child40,
.bgGrid1Child41,
.bgGrid1Child42 {
  top: 56.28%;
  bottom: -57.76%;
}
.bgGrid1Child40,
.bgGrid1Child41,
.bgGrid1Child42 {
  top: 62.44%;
  bottom: -63.92%;
}
.bgGrid1Child41,
.bgGrid1Child42 {
  top: 71.8%;
  bottom: -73.28%;
}
.bgGrid1Child42 {
  top: 81.28%;
  bottom: -82.76%;
}
.bgGrid1Child43,
.bgGrid1Child44,
.bgGrid1Child45,
.bgGrid1Child46,
.bgGrid1Child47,
.bgGrid1Child48,
.bgGrid1Child49,
.bgGrid1Child50,
.bgGrid1Child51 {
  position: absolute;
  height: 101.48%;
  width: 0.12%;
  top: 90.64%;
  right: 0;
  bottom: -92.12%;
  left: 99.88%;
  background-color: #1b1e2d;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.bgGrid1Child44,
.bgGrid1Child45,
.bgGrid1Child46,
.bgGrid1Child47,
.bgGrid1Child48,
.bgGrid1Child49,
.bgGrid1Child50,
.bgGrid1Child51 {
  top: 100%;
  bottom: -101.48%;
}
.bgGrid1Child45,
.bgGrid1Child46,
.bgGrid1Child47,
.bgGrid1Child48,
.bgGrid1Child49,
.bgGrid1Child50,
.bgGrid1Child51 {
  top: 15.64%;
  bottom: -17.12%;
}
.bgGrid1Child46,
.bgGrid1Child47,
.bgGrid1Child48,
.bgGrid1Child49,
.bgGrid1Child50,
.bgGrid1Child51 {
  top: 21.8%;
  bottom: -23.28%;
}
.bgGrid1Child47,
.bgGrid1Child48,
.bgGrid1Child49,
.bgGrid1Child50,
.bgGrid1Child51 {
  top: 28.2%;
  bottom: -29.68%;
}
.bgGrid1Child48,
.bgGrid1Child49,
.bgGrid1Child50,
.bgGrid1Child51 {
  top: 34.36%;
  bottom: -35.84%;
}
.bgGrid1Child49,
.bgGrid1Child50,
.bgGrid1Child51 {
  top: 40.64%;
  bottom: -42.12%;
}
.bgGrid1Child50,
.bgGrid1Child51 {
  top: 46.92%;
  bottom: -48.4%;
}
.bgGrid1Child51 {
  top: 53.08%;
  bottom: -54.56%;
}
.bgGrid1Child52,
.bgGrid1Child53,
.bgGrid1Child54,
.bgGrid1Child55,
.bgGrid1Child56,
.bgGrid1Child57,
.bgGrid1Child58,
.bgGrid1Child59,
.bgGrid1Child60 {
  position: absolute;
  height: 101.48%;
  width: 0.12%;
  top: 59.36%;
  right: 0;
  bottom: -60.84%;
  left: 99.88%;
  background-color: #1b1e2d;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.bgGrid1Child53,
.bgGrid1Child54,
.bgGrid1Child55,
.bgGrid1Child56,
.bgGrid1Child57,
.bgGrid1Child58,
.bgGrid1Child59,
.bgGrid1Child60 {
  top: 68.72%;
  bottom: -70.2%;
}
.bgGrid1Child54,
.bgGrid1Child55,
.bgGrid1Child56,
.bgGrid1Child57,
.bgGrid1Child58,
.bgGrid1Child59,
.bgGrid1Child60 {
  top: 78.2%;
  bottom: -79.68%;
}
.bgGrid1Child55,
.bgGrid1Child56,
.bgGrid1Child57,
.bgGrid1Child58,
.bgGrid1Child59,
.bgGrid1Child60 {
  top: 87.56%;
  bottom: -89.04%;
}
.bgGrid1Child56,
.bgGrid1Child57,
.bgGrid1Child58,
.bgGrid1Child59,
.bgGrid1Child60 {
  top: 96.92%;
  bottom: -98.4%;
}
.bgGrid1Child57,
.bgGrid1Child58,
.bgGrid1Child59,
.bgGrid1Child60 {
  top: 65.64%;
  bottom: -67.12%;
}
.bgGrid1Child58,
.bgGrid1Child59,
.bgGrid1Child60 {
  top: 74.88%;
  bottom: -76.35%;
}
.bgGrid1Child59,
.bgGrid1Child60 {
  top: 84.36%;
  bottom: -85.84%;
}
.bgGrid1Child60 {
  top: 93.72%;
  bottom: -95.2%;
}
.bgGrid1 {
  position: absolute;
  top: -1px;
  left: 422px;
  width: 830px;
  height: 812px;
}
.gridChild,
.gridItem {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.51%;
  right: 27.89%;
  bottom: 30.34%;
  left: 72.05%;
  background-color: #1b1e2d;
}
.gridItem {
  right: 121.88%;
  left: -21.93%;
}
.gridChild1,
.gridChild2,
.gridChild3,
.gridChild4,
.gridChild5,
.gridChild6,
.gridChild7,
.gridInner {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.51%;
  right: 24.94%;
  bottom: 30.34%;
  left: 75%;
  background-color: #1b1e2d;
}
.gridChild1,
.gridChild2,
.gridChild3,
.gridChild4,
.gridChild5,
.gridChild6,
.gridChild7 {
  right: 118.92%;
  left: -18.98%;
}
.gridChild2,
.gridChild3,
.gridChild4,
.gridChild5,
.gridChild6,
.gridChild7 {
  right: 22.05%;
  left: 77.89%;
}
.gridChild3,
.gridChild4,
.gridChild5,
.gridChild6,
.gridChild7 {
  right: 116.03%;
  left: -16.09%;
}
.gridChild4,
.gridChild5,
.gridChild6,
.gridChild7 {
  right: 19.1%;
  left: 80.84%;
}
.gridChild5,
.gridChild6,
.gridChild7 {
  right: 113.08%;
  left: -13.14%;
}
.gridChild6,
.gridChild7 {
  right: 16.09%;
  left: 83.85%;
}
.gridChild7 {
  right: 110.07%;
  left: -10.13%;
}
.gridChild10,
.gridChild11,
.gridChild12,
.gridChild13,
.gridChild14,
.gridChild15,
.gridChild8,
.gridChild9 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.51%;
  right: 13.19%;
  bottom: 30.34%;
  left: 86.75%;
  background-color: #1b1e2d;
}
.gridChild10,
.gridChild11,
.gridChild12,
.gridChild13,
.gridChild14,
.gridChild15,
.gridChild9 {
  right: 107.18%;
  left: -7.23%;
}
.gridChild10,
.gridChild11,
.gridChild12,
.gridChild13,
.gridChild14,
.gridChild15 {
  right: 10.24%;
  left: 89.7%;
}
.gridChild11,
.gridChild12,
.gridChild13,
.gridChild14,
.gridChild15 {
  right: 104.22%;
  left: -4.28%;
}
.gridChild12,
.gridChild13,
.gridChild14,
.gridChild15 {
  right: 7.35%;
  left: 92.59%;
}
.gridChild13,
.gridChild14,
.gridChild15 {
  right: 101.33%;
  left: -1.39%;
}
.gridChild14,
.gridChild15 {
  right: 4.4%;
  left: 95.54%;
}
.gridChild15 {
  right: 98.38%;
  left: 1.56%;
}
.gridChild16,
.gridChild17,
.gridChild20,
.gridChild21,
.gridChild22,
.gridChild23,
.gridChild24,
.gridChild25 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.51%;
  right: 1.45%;
  bottom: 30.34%;
  left: 98.5%;
  background-color: #1b1e2d;
}
.gridChild17,
.gridChild20,
.gridChild21,
.gridChild22,
.gridChild23,
.gridChild24,
.gridChild25 {
  right: 95.43%;
  left: 4.51%;
}
.gridChild20,
.gridChild21,
.gridChild22,
.gridChild23,
.gridChild24,
.gridChild25 {
  right: -1.45%;
  left: 101.39%;
}
.gridChild21,
.gridChild22,
.gridChild23,
.gridChild24,
.gridChild25 {
  right: 92.53%;
  left: 7.41%;
}
.gridChild22,
.gridChild23,
.gridChild24,
.gridChild25 {
  right: -5.84%;
  left: 105.79%;
}
.gridChild23,
.gridChild24,
.gridChild25 {
  right: 88.14%;
  left: 11.81%;
}
.gridChild24,
.gridChild25 {
  right: -10.3%;
  left: 110.24%;
}
.gridChild25 {
  right: 83.68%;
  left: 16.26%;
}
.gridChild26,
.gridChild27,
.gridChild28,
.gridChild29,
.gridChild30,
.gridChild31,
.gridChild32,
.gridChild33 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.51%;
  right: -14.7%;
  bottom: 30.34%;
  left: 114.64%;
  background-color: #1b1e2d;
}
.gridChild27,
.gridChild28,
.gridChild29,
.gridChild30,
.gridChild31,
.gridChild32,
.gridChild33 {
  right: 79.28%;
  left: 20.66%;
}
.gridChild28,
.gridChild29,
.gridChild30,
.gridChild31,
.gridChild32,
.gridChild33 {
  right: -19.1%;
  left: 119.04%;
}
.gridChild29,
.gridChild30,
.gridChild31,
.gridChild32,
.gridChild33 {
  right: 74.88%;
  left: 25.06%;
}
.gridChild30,
.gridChild31,
.gridChild32,
.gridChild33 {
  right: 26.45%;
  left: 73.5%;
}
.gridChild31,
.gridChild32,
.gridChild33 {
  right: 120.43%;
  left: -20.49%;
}
.gridChild32,
.gridChild33 {
  right: 23.5%;
  left: 76.45%;
}
.gridChild33 {
  right: 117.48%;
  left: -17.53%;
}
.gridChild34,
.gridChild35,
.gridChild36,
.gridChild37,
.gridChild38,
.gridChild39,
.gridChild40,
.gridChild41 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.51%;
  right: 20.54%;
  bottom: 30.34%;
  left: 79.4%;
  background-color: #1b1e2d;
}
.gridChild35,
.gridChild36,
.gridChild37,
.gridChild38,
.gridChild39,
.gridChild40,
.gridChild41 {
  right: 114.53%;
  left: -14.58%;
}
.gridChild36,
.gridChild37,
.gridChild38,
.gridChild39,
.gridChild40,
.gridChild41 {
  right: 17.65%;
  left: 82.29%;
}
.gridChild37,
.gridChild38,
.gridChild39,
.gridChild40,
.gridChild41 {
  right: 111.63%;
  left: -11.69%;
}
.gridChild38,
.gridChild39,
.gridChild40,
.gridChild41 {
  right: 14.64%;
  left: 85.3%;
}
.gridChild39,
.gridChild40,
.gridChild41 {
  right: 108.62%;
  left: -8.68%;
}
.gridChild40,
.gridChild41 {
  right: 11.75%;
  left: 88.19%;
}
.gridChild41 {
  right: 105.73%;
  left: -5.79%;
}
.gridChild42,
.gridChild43,
.gridChild44,
.gridChild45,
.gridChild46,
.gridChild47,
.gridChild48,
.gridChild49 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.51%;
  right: 8.8%;
  bottom: 30.34%;
  left: 91.15%;
  background-color: #1b1e2d;
}
.gridChild43,
.gridChild44,
.gridChild45,
.gridChild46,
.gridChild47,
.gridChild48,
.gridChild49 {
  right: 102.78%;
  left: -2.84%;
}
.gridChild44,
.gridChild45,
.gridChild46,
.gridChild47,
.gridChild48,
.gridChild49 {
  right: 5.84%;
  left: 94.1%;
}
.gridChild45,
.gridChild46,
.gridChild47,
.gridChild48,
.gridChild49 {
  right: 99.83%;
  left: 0.12%;
}
.gridChild46,
.gridChild47,
.gridChild48,
.gridChild49 {
  right: 2.95%;
  left: 96.99%;
}
.gridChild47,
.gridChild48,
.gridChild49 {
  right: 96.93%;
  left: 3.01%;
}
.gridChild48,
.gridChild49 {
  right: 0;
  left: 99.94%;
}
.gridChild49 {
  right: 93.98%;
  left: 5.96%;
}
.gridChild50,
.gridChild51,
.gridChild52,
.gridChild53,
.gridChild54,
.gridChild55,
.gridChild56,
.gridChild57 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.51%;
  right: -4.4%;
  bottom: 30.34%;
  left: 104.34%;
  background-color: #1b1e2d;
}
.gridChild51,
.gridChild52,
.gridChild53,
.gridChild54,
.gridChild55,
.gridChild56,
.gridChild57 {
  right: 89.58%;
  left: 10.36%;
}
.gridChild52,
.gridChild53,
.gridChild54,
.gridChild55,
.gridChild56,
.gridChild57 {
  right: -8.85%;
  left: 108.8%;
}
.gridChild53,
.gridChild54,
.gridChild55,
.gridChild56,
.gridChild57 {
  right: 85.13%;
  left: 14.81%;
}
.gridChild54,
.gridChild55,
.gridChild56,
.gridChild57 {
  right: -13.25%;
  left: 113.19%;
}
.gridChild55,
.gridChild56,
.gridChild57 {
  right: 80.73%;
  left: 19.21%;
}
.gridChild56,
.gridChild57 {
  right: -17.65%;
  left: 117.59%;
}
.gridChild57 {
  right: 76.33%;
  left: 23.61%;
}
.gridChild58,
.gridChild59,
.gridChild60,
.gridChild61,
.gridChild62,
.gridChild63,
.gridChild64,
.gridChild65 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.51%;
  right: -2.95%;
  bottom: 30.34%;
  left: 102.89%;
  background-color: #1b1e2d;
}
.gridChild59,
.gridChild60,
.gridChild61,
.gridChild62,
.gridChild63,
.gridChild64,
.gridChild65 {
  right: 91.03%;
  left: 8.91%;
}
.gridChild60,
.gridChild61,
.gridChild62,
.gridChild63,
.gridChild64,
.gridChild65 {
  right: -7.29%;
  left: 107.23%;
}
.gridChild61,
.gridChild62,
.gridChild63,
.gridChild64,
.gridChild65 {
  right: 86.69%;
  left: 13.25%;
}
.gridChild62,
.gridChild63,
.gridChild64,
.gridChild65 {
  right: -11.75%;
  left: 111.69%;
}
.gridChild63,
.gridChild64,
.gridChild65 {
  right: 82.23%;
  left: 17.71%;
}
.gridChild64,
.gridChild65 {
  right: -16.15%;
  left: 116.09%;
}
.gridChild65 {
  right: 77.84%;
  left: 22.11%;
}
.gridChild66,
.gridChild67,
.gridChild68,
.gridChild69,
.gridChild70,
.gridChild71,
.gridChild72,
.gridChild73 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: -0.09%;
  right: -19.44%;
  bottom: 29.92%;
  left: 119.39%;
  background-color: #1b1e2d;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.gridChild67,
.gridChild68,
.gridChild69,
.gridChild70,
.gridChild71,
.gridChild72,
.gridChild73 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild68,
.gridChild69,
.gridChild70,
.gridChild71,
.gridChild72,
.gridChild73 {
  top: 12.86%;
  right: -19.44%;
  bottom: 16.97%;
  left: 119.39%;
}
.gridChild69,
.gridChild70,
.gridChild71,
.gridChild72,
.gridChild73 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild70,
.gridChild71,
.gridChild72,
.gridChild73 {
  top: 17.29%;
  right: -19.44%;
  bottom: 12.55%;
  left: 119.39%;
}
.gridChild71,
.gridChild72,
.gridChild73 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild72,
.gridChild73 {
  top: 21.54%;
  right: -19.44%;
  bottom: 8.29%;
  left: 119.39%;
}
.gridChild73 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild74,
.gridChild75,
.gridChild76,
.gridChild77,
.gridChild78,
.gridChild79,
.gridChild80,
.gridChild81,
.gridChild84,
.gridChild85 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: 25.89%;
  right: -19.44%;
  bottom: 3.94%;
  left: 119.39%;
  background-color: #1b1e2d;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.gridChild75,
.gridChild76,
.gridChild77,
.gridChild78,
.gridChild79,
.gridChild80,
.gridChild81,
.gridChild84,
.gridChild85 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild76,
.gridChild77,
.gridChild78,
.gridChild79,
.gridChild80,
.gridChild81,
.gridChild84,
.gridChild85 {
  top: 30.14%;
  right: -19.44%;
  bottom: -0.31%;
  left: 119.39%;
}
.gridChild77,
.gridChild78,
.gridChild79,
.gridChild80,
.gridChild81,
.gridChild84,
.gridChild85 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild78,
.gridChild79,
.gridChild80,
.gridChild81,
.gridChild84,
.gridChild85 {
  top: 34.49%;
  right: -19.44%;
  bottom: -4.66%;
  left: 119.39%;
}
.gridChild79,
.gridChild80,
.gridChild81,
.gridChild84,
.gridChild85 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild80,
.gridChild81,
.gridChild84,
.gridChild85 {
  top: 38.83%;
  right: -19.44%;
  bottom: -9%;
  left: 119.39%;
}
.gridChild81,
.gridChild84,
.gridChild85 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild84,
.gridChild85 {
  top: 43.09%;
  right: -19.44%;
  bottom: -13.26%;
  left: 119.39%;
}
.gridChild85 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild86,
.gridChild87,
.gridChild88,
.gridChild89,
.gridChild90,
.gridChild91,
.gridChild92,
.gridChild93,
.gridChild94,
.gridChild95 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: 49.56%;
  right: -19.44%;
  bottom: -19.73%;
  left: 119.39%;
  background-color: #1b1e2d;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.gridChild87,
.gridChild88,
.gridChild89,
.gridChild90,
.gridChild91,
.gridChild92,
.gridChild93,
.gridChild94,
.gridChild95 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild88,
.gridChild89,
.gridChild90,
.gridChild91,
.gridChild92,
.gridChild93,
.gridChild94,
.gridChild95 {
  top: 56.12%;
  right: -19.44%;
  bottom: -26.29%;
  left: 119.39%;
}
.gridChild89,
.gridChild90,
.gridChild91,
.gridChild92,
.gridChild93,
.gridChild94,
.gridChild95 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild90,
.gridChild91,
.gridChild92,
.gridChild93,
.gridChild94,
.gridChild95 {
  top: 62.59%;
  right: -19.44%;
  bottom: -32.76%;
  left: 119.39%;
}
.gridChild91,
.gridChild92,
.gridChild93,
.gridChild94,
.gridChild95 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild92,
.gridChild93,
.gridChild94,
.gridChild95 {
  top: 69.06%;
  right: -19.44%;
  bottom: -39.23%;
  left: 119.39%;
}
.gridChild93,
.gridChild94,
.gridChild95 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild94,
.gridChild95 {
  top: 10.73%;
  right: -19.44%;
  bottom: 19.1%;
  left: 119.39%;
}
.gridChild95 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild100,
.gridChild101,
.gridChild102,
.gridChild103,
.gridChild104,
.gridChild105,
.gridChild96,
.gridChild97,
.gridChild98,
.gridChild99 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: 14.99%;
  right: -19.44%;
  bottom: 14.84%;
  left: 119.39%;
  background-color: #1b1e2d;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.gridChild100,
.gridChild101,
.gridChild102,
.gridChild103,
.gridChild104,
.gridChild105,
.gridChild97,
.gridChild98,
.gridChild99 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild100,
.gridChild101,
.gridChild102,
.gridChild103,
.gridChild104,
.gridChild105,
.gridChild98,
.gridChild99 {
  top: 19.42%;
  right: -19.44%;
  bottom: 10.42%;
  left: 119.39%;
}
.gridChild100,
.gridChild101,
.gridChild102,
.gridChild103,
.gridChild104,
.gridChild105,
.gridChild99 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild100,
.gridChild101,
.gridChild102,
.gridChild103,
.gridChild104,
.gridChild105 {
  top: 23.67%;
  right: -19.44%;
  bottom: 6.16%;
  left: 119.39%;
}
.gridChild101,
.gridChild102,
.gridChild103,
.gridChild104,
.gridChild105 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild102,
.gridChild103,
.gridChild104,
.gridChild105 {
  top: 28.02%;
  right: -19.44%;
  bottom: 1.82%;
  left: 119.39%;
}
.gridChild103,
.gridChild104,
.gridChild105 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild104,
.gridChild105 {
  top: 32.36%;
  right: -19.44%;
  bottom: -2.53%;
  left: 119.39%;
}
.gridChild105 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild106,
.gridChild107,
.gridChild108,
.gridChild109,
.gridChild110,
.gridChild111,
.gridChild112,
.gridChild113,
.gridChild114,
.gridChild115 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: 36.62%;
  right: -19.44%;
  bottom: -6.78%;
  left: 119.39%;
  background-color: #1b1e2d;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.gridChild107,
.gridChild108,
.gridChild109,
.gridChild110,
.gridChild111,
.gridChild112,
.gridChild113,
.gridChild114,
.gridChild115 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild108,
.gridChild109,
.gridChild110,
.gridChild111,
.gridChild112,
.gridChild113,
.gridChild114,
.gridChild115 {
  top: 40.96%;
  right: -19.44%;
  bottom: -11.13%;
  left: 119.39%;
}
.gridChild109,
.gridChild110,
.gridChild111,
.gridChild112,
.gridChild113,
.gridChild114,
.gridChild115 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild110,
.gridChild111,
.gridChild112,
.gridChild113,
.gridChild114,
.gridChild115 {
  top: 47.43%;
  right: -19.44%;
  bottom: -17.6%;
  left: 119.39%;
}
.gridChild111,
.gridChild112,
.gridChild113,
.gridChild114,
.gridChild115 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild112,
.gridChild113,
.gridChild114,
.gridChild115 {
  top: 53.99%;
  right: -19.44%;
  bottom: -24.16%;
  left: 119.39%;
}
.gridChild113,
.gridChild114,
.gridChild115 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild114,
.gridChild115 {
  top: 60.46%;
  right: -19.44%;
  bottom: -30.63%;
  left: 119.39%;
}
.gridChild115 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild116,
.gridChild117,
.gridChild118,
.gridChild119,
.gridChild120,
.gridChild121,
.gridChild122,
.gridChild123,
.gridChild124,
.gridChild125 {
  position: absolute;
  height: 70.17%;
  width: 0.06%;
  top: 66.93%;
  right: -19.44%;
  bottom: -37.1%;
  left: 119.39%;
  background-color: #1b1e2d;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.gridChild117,
.gridChild118,
.gridChild119,
.gridChild120,
.gridChild121,
.gridChild122,
.gridChild123,
.gridChild124,
.gridChild125 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild118,
.gridChild119,
.gridChild120,
.gridChild121,
.gridChild122,
.gridChild123,
.gridChild124,
.gridChild125 {
  top: 45.3%;
  right: -19.44%;
  bottom: -15.47%;
  left: 119.39%;
}
.gridChild119,
.gridChild120,
.gridChild121,
.gridChild122,
.gridChild123,
.gridChild124,
.gridChild125 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild120,
.gridChild121,
.gridChild122,
.gridChild123,
.gridChild124,
.gridChild125 {
  top: 51.69%;
  right: -19.44%;
  bottom: -21.86%;
  left: 119.39%;
}
.gridChild121,
.gridChild122,
.gridChild123,
.gridChild124,
.gridChild125 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild122,
.gridChild123,
.gridChild124,
.gridChild125 {
  top: 58.25%;
  right: -19.44%;
  bottom: -28.41%;
  left: 119.39%;
}
.gridChild123,
.gridChild124,
.gridChild125 {
  right: 74.54%;
  left: 25.41%;
}
.gridChild124,
.gridChild125 {
  top: 64.72%;
  right: -19.44%;
  bottom: -34.89%;
  left: 119.39%;
}
.gridChild125 {
  right: 74.54%;
  left: 25.41%;
}
.grid,
.maskGroup {
  position: absolute;
  height: 178.47%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: -78.47%;
  left: 0;
}
.maskGroup {
  height: 117.92%;
  top: -32.08%;
  bottom: 14.16%;
  display: none;
}
.c4Inner {
  position: absolute;
  height: 117.56%;
  width: 37.96%;
  top: 112.19%;
  right: 30.32%;
  bottom: -129.75%;
  left: 31.71%;
  border-radius: 50%;
  background-color: #514ed8;
  filter: blur(500px);
}
.rectangleIcon {
  position: absolute;
  top: 458px;
  left: 0;
  width: 1728px;
  height: 215px;
}
.buttonChild,
.groupIcon,
.maskGroupIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1754px;
  height: 837.3px;
}
.buttonChild,
.maskGroupIcon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.buttonChild {
  border-radius: 12px;
  background-color: #514ed8;
}
.maskGroupIcon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.buildYourLegacy {
  position: absolute;
  width: 75.61%;
  top: 29.63%;
  left: 12.2%;
  line-height: 22px;
  text-transform: capitalize;
  display: inline-block;
}
.button {
  position: absolute;
  top: 398px;
  left: calc(50% - 183px);
  border-radius: 56px;
  width: 328px;
  height: 60px;
  overflow: hidden;
}
.maskGroupIcon1 {
  position: absolute;
  top: 132px;
  left: 417px;
  width: 894px;
  height: 240px;
  display: none;
}
.getAnEstimate {
  position: relative;
  line-height: 32px;
}
.tryOurCost {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  display: inline-block;
  width: 812px;
}
.component24Icon,
.component24Icon1,
.component24Icon2 {
  position: absolute;
  top: 16.72px;
  left: 103.41px;
  width: 130px;
  height: 130px;
}
.component24Icon1,
.component24Icon2 {
  left: 625px;
}
.component24Icon2 {
  top: 60px;
  left: 116px;
}
.component24Icon3,
.component24Icon4,
.component24Icon5 {
  position: absolute;
  top: 60px;
  left: 246px;
  width: 130px;
  height: 130px;
}
.component24Icon4,
.component24Icon5 {
  left: 376px;
}
.component24Icon5 {
  top: 47px;
  left: 484px;
}
.component24Icon6,
.component24Icon7,
.component24Icon8 {
  position: absolute;
  top: 190px;
  left: -144px;
  width: 130px;
  height: 130px;
}
.component24Icon7,
.component24Icon8 {
  top: 320px;
}
.component24Icon8 {
  left: -14px;
}
.component24Icon10,
.component24Icon11,
.component24Icon9 {
  position: absolute;
  top: 320px;
  left: 116px;
  width: 130px;
  height: 130px;
}
.component24Icon10,
.component24Icon11 {
  left: 246px;
}
.component24Icon11 {
  left: 376px;
}
.component24Icon12,
.component24Icon13,
.component24Icon14 {
  position: absolute;
  top: 320px;
  left: 506px;
  width: 130px;
  height: 130px;
}
.component24Icon13,
.component24Icon14 {
  top: 189px;
  left: -14px;
}
.component24Icon14 {
  top: 190px;
  left: 246px;
}
.component24Icon15,
.component24Icon16,
.component24Icon17 {
  position: absolute;
  top: 190px;
  left: 376px;
  width: 130px;
  height: 130px;
}
.component24Icon16,
.component24Icon17 {
  left: 506px;
}
.component24Icon17 {
  top: 60px;
  left: 636px;
}
.component24Icon18,
.component24Icon19,
.component24Icon20 {
  position: absolute;
  top: 320px;
  left: 636px;
  width: 130px;
  height: 130px;
}
.component24Icon19,
.component24Icon20 {
  top: 190px;
}
.component24Icon20 {
  top: 320px;
  left: 766px;
}
.component24Icon21,
.component24Icon22,
.component24Icon23 {
  position: absolute;
  top: 190px;
  left: 766px;
  width: 130px;
  height: 130px;
}
.component24Icon22,
.component24Icon23 {
  top: 16.72px;
  left: 466px;
}
.component24Icon23 {
  left: 254px;
}
.tryOurCostCalculatorParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 812px;
  height: 190px;
}
.groupWrapper {
  position: relative;
  width: 812px;
  height: 190px;
  font-size: 74px;
  color: #514ed8;
  font-family: "TT Firs Neue Trl";
}
.getAnEstimateParent {
  position: absolute;
  top: 93px;
  left: 439px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: #c6e74a;
}
.c4 {
  position: relative;
  background-color: #121319;
  width: 100%;
  height: 558px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-family: "DM Sans";
}
