.whatWeDo {
  position: absolute;
  top: 67px;
  left: calc(50% - 565px);
  line-height: 20.13px;
}
.mobileAppDevelopment {
  position: absolute;
  top: 28px;
  left: 0;
  line-height: 80px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 491.11px;
  height: 63px;
}

.lightSmallText {
  font-weight: lighter;
  font-size: 12px;
}


.mobAppDev {
  position: relative;
  border-bottom: 1px solid #5f5f5f;
  box-sizing: border-box;
  width: 1130px;
  height: 121px;
}
.mobAppDevParent {
  position: absolute;
  top: 18.88px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.span {
  position: absolute;
  height: calc(100% + 0.01px);
  width: calc(100% - 0.01px);
  top: -0.01px;
  right: 7.74px;
  bottom: 0;
  left: -7.74px;
  overflow: hidden;
}
.sub_img1 {
  position: relative;
  width: 548.83px;
  height: 360.42px;
  overflow: hidden;
  flex-shrink: 0;
}

.span1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 7.74px;
  bottom: 0;
  left: -7.74px;
  overflow: hidden;
}
.sub_img {
  position: relative;
  width: 548.83px;
  height: 360.44px;
  overflow: hidden;
  flex-shrink: 0;
}

.span2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 7.29px;
  bottom: 0;
  left: -7.29px;
  overflow: hidden;
}

.span3 {
  position: absolute;
  height: calc(100% - 0.01px);
  width: 100%;
  top: 0;
  right: 7.29px;
  bottom: 0.01px;
  left: -7.29px;
  overflow: hidden;
}

.span4 {
  position: absolute;
  height: calc(100% - 0.01px);
  width: calc(100% + 0.01px);
  top: 0;
  right: 7.29px;
  bottom: 0.01px;
  left: -7.29px;
  overflow: hidden;
}



.scroll {
  top: -1.09px;
  left: 0.51px;
  width: 700.57px;
  display: flex;
  flex-direction: row;
  padding: 0 2294.152099609375px 0 4.055477619171143px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20.03px;
  animation: marquee 20s linear infinite;
  /* animation-delay: -5s; */
}
.scroll,
.scrollImg,
.ul {
  position: absolute;
}
.scrollImg {
  top: 849.37px;
  left: -242px;
  width: 1590px;
  height: 360.44px;
  overflow: hidden;
  transform: rotate(-25deg);
  transform-origin: 0 0;
  opacity: 0.5;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%); /* Move to the left */
  }
  100% {
    transform: translateX(100%); /* Move back to the right */
  }
}

.ul {
  top: 88.12px;
  left: 115px;
  width: 1130px;
  height: 605px;
  font-size: 34px;
  color: #fff;
}
.weAreSpecialised {
  position: absolute;
  top: 886px;
  left: calc(50% + 335px);
  line-height: 20.13px;
}
.investment {
  margin: 0;
}
.investmentManagementPortalContainer1 {
  line-break: anywhere;
  width: 100%;
}
.investmentManagementPortalContainer {
  position: relative;
  line-height: 40px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 699px;
  flex-shrink: 0;
}
.about {
  border-bottom: 1px solid #5f5f5f;
  box-sizing: border-box;
  width: 1130px;
  height: 121px;
  display: flex;
  flex-direction: row;
  padding: 29px 0;
  align-items: center;
  justify-content: flex-end;
}


.aboutParent {
  position: absolute;
  top: 941px;
  left: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  font-size: 34px;
  color: #fff;
}
.c6 {
  position: relative;
  background-color: #04000e;
  width: 100%;
  height: 1748px;
  text-align: left;
  font-size: 24px;
  color: #c6e74a;
  font-family: "DM Sans";
  overflow: hidden;
}


.fullImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scrollingContainer {
  overflow: auto;
  white-space: nowrap;
}