.areYouReady,
.letsTalk {
  position: relative;
  line-height: 69px;
}
.letsTalk {
  line-height: 13px;
}
.div {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 16.55px;
}
.hi {
  position: relative;
  width: 20.84px;
  height: 16.87px;
  transform: rotate(0.39deg);
  transform-origin: 0 0;
  font-size: 20.37px;
  color: #000;
}
.areYouReadyToGoParent,
.letsTalkParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.letsTalkParent {
  border-radius: 32px;
  background-color: #514ed8;
  height: 50px;
  padding: 4px 28px;
  box-sizing: border-box;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
  color: #fff;
}
.areYouReadyToGoParent {
  position: absolute;
  top: 991px;
  left: calc(50% - 350.98px);
  justify-content: flex-start;
  gap: 21px;
  font-size: 56px;
  color: #f4f4f4;
}
.icon {
  position: absolute;
  top: 383px;
  left: calc(50% - 640px);
  width: 1280px;
  height: 526px;
  object-fit: cover;
}
.empathize {
  position: relative;
  line-height: 19.44px;
}
.divpx20 {
  border-radius: 8100.46px;
  background-color: #282728;
  border: 0.8px solid #373737;
  box-sizing: border-box;
  height: 36px;
  display: flex;
  flex-direction: row;
  padding: 8.911392211914062px 28.443544387817383px 8.911392211914062px
    27.544301986694336px;
  align-items: center;
  justify-content: center;
}
.defineTheChallenge {
  margin: 0;
}
.defineTheChallengeContainer {
  position: relative;
  font-size: 12px;
  color: #b1b1b1;
  text-align: right;
}
.divpx20Parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 14px;
}
.divabsolute,
.divabsolute1 {
  position: absolute;
  height: calc(100% - 1057px);
  width: calc(100% - 1099px);
  top: 427px;
  right: 1013px;
  bottom: 630px;
  left: 86px;
}
.divabsolute1 {
  top: 758px;
  right: 1002px;
  bottom: 299px;
  left: 97px;
}
.brainstormIdeasGoodContainer {
  position: relative;
  font-size: 12px;
  color: #b1b1b1;
}
.divpx20Container,
.divpx20Parent1,
.frameDiv {
  position: absolute;
  top: 427px;
  left: 987px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.divpx20Parent1,
.frameDiv {
  top: 708px;
}
.divpx20Parent1 {
  top: 602px;
  left: 706px;
}
.good {
  color: #514ed8;
}
.to {
  color: #fff;
}
.great {
  color: #c6e74a;
}
.yourIdeaDeservesContainer1 {
  line-break: anywhere;
  width: 100%;
}
.yourIdeaDeservesContainer {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 69px;
  display: flex;
  align-items: center;
  width: 757px;
}
.vectorIcon {
  position: absolute;
  top: 147px;
  left: 378px;
  width: 79px;
  height: 46px;
  overflow: hidden;
}
.yourIdeaDeservesADesignPrParent {
  position: absolute;
  top: 88px;
  left: 80px;
  width: 757px;
  height: 207px;
  font-size: 56px;
  font-family: Inter;
}
.c8 {
  position: relative;
  background-color: #04000e;
  width: 100%;
  height: 1139px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: "DM Sans";
}
